<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>Ghost Net Fishing</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Ghost Net Fishing</h1>

    <p>
        Diese Anwendung dient als Prototyp zum Melden und Bergen von Geisternetzen.
    </p>

    <nav>
        <ul>
            <li><a href="/">Startseite</a></li>
            <li><a href="/ghostnets">Geisternetze anzeigen</a></li>
            <li><a href="/ghostnets/open">Noch zu bergende Geisternetze</a></li>
            <li><a href="/ghostnets/new">Geisternetz melden</a></li>
        </ul>
    </nav>
    <h2>Aktueller Stand</h2>

<p>
    Noch zu bergende Geisternetze:
    <strong th:text="${openGhostNetCount}">0</strong>
</p>
</body>
</html>